<div class="dummy-padding">
    <div style="width:800px; height:400px; border: 1px grey solid;">
      {{#frost-scroll class='full' on-scroll-y-end=(action 'yEndReached')}}
        {{frost-icon icon="frost/add" class="dummy-svg-huge"}}
      {{/frost-scroll}}
    </div>
</div>
